/* Coolors Exported Palette - https://coolors.co/667761-f6f4d2-cbdfbd-f19c79-a44a3f */

/* CSS HEX */
--reseda-green: #667761ff;
--light-yellow: #f6f4d2ff;
--tea-green: #cbdfbdff;
--atomic-tangerine: #f19c79ff;
--chestnut: #a44a3fff;

/* CSS HSL */
--reseda-green: hsla(106, 10%, 42%, 1);
--light-yellow: hsla(57, 67%, 89%, 1);
--tea-green: hsla(95, 35%, 81%, 1);
--atomic-tangerine: hsla(18, 81%, 71%, 1);
--chestnut: hsla(7, 44%, 45%, 1);

/* SCSS HEX */
$reseda-green: #667761ff;
$light-yellow: #f6f4d2ff;
$tea-green: #cbdfbdff;
$atomic-tangerine: #f19c79ff;
$chestnut: #a44a3fff;

/* SCSS HSL */
$reseda-green: hsla(106, 10%, 42%, 1);
$light-yellow: hsla(57, 67%, 89%, 1);
$tea-green: hsla(95, 35%, 81%, 1);
$atomic-tangerine: hsla(18, 81%, 71%, 1);
$chestnut: hsla(7, 44%, 45%, 1);

/* SCSS RGB */
$reseda-green: rgba(102, 119, 97, 1);
$light-yellow: rgba(246, 244, 210, 1);
$tea-green: rgba(203, 223, 189, 1);
$atomic-tangerine: rgba(241, 156, 121, 1);
$chestnut: rgba(164, 74, 63, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #667761ff, #f6f4d2ff, #cbdfbdff, #f19c79ff, #a44a3fff);
$gradient-right: linear-gradient(90deg, #667761ff, #f6f4d2ff, #cbdfbdff, #f19c79ff, #a44a3fff);
$gradient-bottom: linear-gradient(180deg, #667761ff, #f6f4d2ff, #cbdfbdff, #f19c79ff, #a44a3fff);
$gradient-left: linear-gradient(270deg, #667761ff, #f6f4d2ff, #cbdfbdff, #f19c79ff, #a44a3fff);
$gradient-top-right: linear-gradient(45deg, #667761ff, #f6f4d2ff, #cbdfbdff, #f19c79ff, #a44a3fff);
$gradient-bottom-right: linear-gradient(135deg, #667761ff, #f6f4d2ff, #cbdfbdff, #f19c79ff, #a44a3fff);
$gradient-top-left: linear-gradient(225deg, #667761ff, #f6f4d2ff, #cbdfbdff, #f19c79ff, #a44a3fff);
$gradient-bottom-left: linear-gradient(315deg, #667761ff, #f6f4d2ff, #cbdfbdff, #f19c79ff, #a44a3fff);
$gradient-radial: radial-gradient(#667761ff, #f6f4d2ff, #cbdfbdff, #f19c79ff, #a44a3fff);